package support

import (
	"net/http"

	"{{ lower .GoModule }}/internal/sdk/http/mux"
)

// Version returns version.
func (h *Handler) Version(*http.Request, any) mux.Response {
	return &versionResponse{
		Version: h.Conf.Build,
	}
}
