package support

import (
	"net/http"

	"github.com/test/gateway/internal/app/http/handlers/support/response"
	"github.com/test/gateway/internal/sdk/http/mux"
)

// Version returns version.
func (h *Handler) Version(*http.Request, any) mux.Response {
	return &response.Version{Version: h.Conf.Build}
}
