package support

import (
	"net/http"

	"{{ lower .GoModule }}/internal/app/http/handlers/support/response"
	"{{ lower .GoModule }}/internal/sdk/http/mux"
)

// Version returns version.
func (h *Handler) Version(*http.Request, any) mux.Response {
	return &response.Version{Version: h.Conf.Build}
}
