# Binaries for programs and plugins
bin/

# Popular Ides configs
.idea/
.vscode/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Zap logger config
config.yml

# Coverage files
cover.html

# Docker compose overrides
docker-compose.override.yml
