// Package readiness contains readiness check functionality.
package readiness

import (
	"sync/atomic"
)

const (
	// Resources is a count of resources needed to check readiness.
	// Increase this value if you are expecting ready status from other resources.
	Resources = 2 // HTTP aux socket, HTTP server socket.
)

// Check waits data from ready channel and checks if all resources ready when received.
func Check(flag *atomic.Bool, ready chan struct{}) {
	var count int

	for range ready {
		count++

		if count == Resources {
			flag.Store(true)

			return
		}
	}
}
